@{
    ViewData["Title"] = "About Us Page for Utkarsh's Sandals Store";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>
    At The UtkarshSandalsStore, we believe style shouldn't demand a huge investment of time or money. Style should be comfortable, accessible and easy to achieve. That's why our footwear feels as good as it looks, effortlessly taking you from the boardroom to the restaurant, to the park with your family. We strive to ensure your shopping experience is easy on your wallet, and your schedule, by delivering fashion and value to everyone in your household.

    <br />
    <br />
    The UtkarshSandalsStore opened in 1992 and the chain has since grown to more than 75 locations across Canada.
    <br />
    <br />
    The UtkarshSandalsStore. Great brands. Smart Prices.
</p>