@{
    ViewData["Title"] = "Privacy Policy Page for Utkarsh's Sandals Store";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>
    We collect two types of information. <br /><br />
    1. information we receive from you and <br /><br />
    2. information we receive from others.
    <br /><br />
    Information we receive from you includes information you shared with us, such as when you create an account on one of our websites. This also includes information you provide us through technology, such as through a cookie placed on your computer when you visit our websites. We also receive information from other sources to help us supplement our records, improve the personalization of our services to you, and detect fraud. Our goal is to limit the information we collect to the informaion needed to support our buisness.

    <br />
    <br />
    <br />
    Thank You!
</p>


@*<p>Use this page to detail your site's privacy policy.</p>*@

